* {margin:0;padding:0;}
body,textarea,input,button,select,keygen,legend{font:14px "Microsoft YaHei",Verdana,"宋体",sans-serif;font-weight:normal;color:#666666;outline:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details,canvas{display:block;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
summary{outline:0;}
ul,li{list-style:none;}
a,a:hover{text-decoration:none;cursor:pointer;}
a:link {color:#666666;}	
a:visited {color:#666666;}
a:hover {color:#C91618;}
a:active {color:#666666;}