* {margin: 0; padding: 0;}
body, textarea, input, button, select, keygen, legend{font:14px "Microsoft YaHei", Verdana, "宋体", sans-serif; font-weight: normal; color: #666666; outline: 0;}
header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {display:block;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th {text-align:left;font-weight: normal;}
html, body, fieldset, img, iframe, abbr{border: 0;}
i, cite, em, var, address, dfn{font-style: normal;}
summary{outline: 0;}
ul, li{list-style: none;}
img {vertical-align: middle;}
a, a:hover{text-decoration: none; cursor: pointer;}
a:link {color: #666666;}
a:visited {color: #666666;}
a:hover {color: #C91618;}
a:active {color: #666666;}

.outer-section {width:100%; float: left; clear: both;}
.outer-wrapper {width:100%; max-width: 984px; margin: 0 auto;}
.columns {max-width: 984px; margin: 0 auto;}
.banner {width:100%; max-width: 984px; height: auto;}
.outer-banner {width:100%; max-width: 1263px; margin: 0 auto; height: auto;}

#outer-section-1 .outer-banner {background: url(../images/qd_s1_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-2 {background-color: #2577E3;}
#outer-section-2 .outer-banner {background: url(../images/qd_s2_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-3 {background-color: #DB3634;}
#outer-section-3 .outer-banner {background: url(../images/qd_s3_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-4 {background-color: #FEBB0D;}
#outer-section-5 {background-color: #A3051E;}
#outer-section-5 .outer-banner {background: url(../images/qd_s5_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-6 {background-color: #A3051E;}
#outer-section-6 .columns {padding: 0pxpx 0pxpx 43pxpx 0pxpx;}
#outer-section-6 .columns ul {margin-left: -4px; margin-right: -4px;}
#outer-section-6 .columns li {width: 33.333333333333336%; float: left;}
#outer-section-6 .columns li div {margin-bottom: 9px;padding: 0 4px;}
#outer-section-6 .columns li div img {width: 100%; height: auto;}
@media screen and (max-width : 1920px) {}
@media screen and (max-width : 1280px) {}
@media screen and (max-width : 1024px) {}
@media screen and (max-width : 640px) {}
@media screen and (max-width : 320px) {}
#outer-section-7 {background-color: #650719;}
#outer-section-7 .outer-banner {background: url(../images/qd_s7_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-8 {background-color: #650719;}
#outer-section-8 .columns {padding: 20pxpx 0pxpx;}
#outer-section-8 .columns li {width: 100%; float: left;}
#outer-section-8 .columns li img {width: 100%; height: auto;}
@media screen and (max-width : 1920px) {}
@media screen and (max-width : 1280px) {}
@media screen and (max-width : 1024px) {}
@media screen and (max-width : 640px) {}
@media screen and (max-width : 320px) {}
#outer-section-9 {background-color: #650719;}
#outer-section-9 .columns {padding: 0pxpx 0pxpx 40pxpx 0pxpx;}
#outer-section-9 .columns ul {margin-left: -4px; margin-right: -4px;}
#outer-section-9 .columns li {width: 33.333333333333336%; float: left;}
#outer-section-9 .columns li div {margin-bottom: 9px;padding: 0 4px;}
#outer-section-9 .columns li div img {width: 100%; height: auto;}
@media screen and (max-width : 1920px) {}
@media screen and (max-width : 1280px) {}
@media screen and (max-width : 1024px) {}
@media screen and (max-width : 640px) {}
@media screen and (max-width : 320px) {}
#outer-section-10 .outer-banner {background: url(../images/qd_s10_bg.png) no-repeat scroll center bottom / cover;}
#outer-section-11 {background-color: #A3061E;}
#outer-section-12 {background-color: #A3061E;}
#outer-section-12 .columns {padding: 20pxpx 0pxpx 42pxpx 0pxpx;}
#outer-section-12 .columns ul {margin-left: -4px; margin-right: -4px;}
#outer-section-12 .columns li {width: 33.333333333333336%; float: left;}
#outer-section-12 .columns li div {padding: 0 4px;}
#outer-section-12 .columns li div img {width: 100%; height: auto;}
@media screen and (max-width : 1920px) {}
@media screen and (max-width : 1280px) {}
@media screen and (max-width : 1024px) {}
@media screen and (max-width : 640px) {}
@media screen and (max-width : 320px) {}
#outer-section-13 {background-color: #650719;}
#outer-section-14 {background-color: #650719;}
#outer-section-14 .columns {padding: 47pxpx 0pxpx;}
#outer-section-14 .columns ul {margin-left: -4px; margin-right: -4px;}
#outer-section-14 .columns li {width: 33.333333333333336%; float: left;}
#outer-section-14 .columns li div {margin-bottom: 9px;padding: 0 4px;}
#outer-section-14 .columns li div img {width: 100%; height: auto;}
@media screen and (max-width : 1920px) {}
@media screen and (max-width : 1280px) {}
@media screen and (max-width : 1024px) {}
@media screen and (max-width : 640px) {}
@media screen and (max-width : 320px) {}
#outer-section-15 {background-color: #FFFFFF;}
