* {margin: 0; padding: 0;}
body, textarea, input, button, select, keygen, legend{font:14px "Microsoft YaHei", Verdana, "宋体", sans-serif; font-weight: normal; color: #666666; outline: 0;}
header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {display:block;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th {text-align:left;font-weight: normal;}
html, body, fieldset, img, iframe, abbr{border: 0;}
i, cite, em, var, address, dfn{font-style: normal;}
summary{outline: 0;}
ul, li{list-style: none;}
img {vertical-align: middle;}
a, a:hover{text-decoration: none; cursor: pointer;}
a:link {color: #666666;}
a:visited {color: #666666;}
a:hover {color: #C91618;}
a:active {color: #666666;}

.outer-section {width:100%; float: left; clear: both;}
.outer-wrapper {width:100%; max-width: 990px; margin: 0 auto;}
.banner {width:100%; max-width: 990px; height: auto;}
#outer-section-1 {height: 30px; background: url(../images/qd_s1.png) no-repeat scroll center bottom / cover;}
#outer-section-2 {height: 70px; background: url(../images/qd_s2.png) no-repeat scroll center bottom / cover;}
#outer-section-3 {height: 510px; background: url(../images/qd_s3.png) no-repeat scroll center bottom / cover #FACD94;}
#outer-section-4 {background-color: #FFDB2B;}
#outer-section-5 {background-color: #01AFEE;}
#outer-section-6 {background-color: #E72758;}
#outer-section-7 {background-color: #FFDB2B;}
#outer-section-8 {background-color: #FFDB2B;}
#outer-section-9 {height: 619px; background: url(../images/qd_s9.png) no-repeat scroll center bottom / cover #7D47D9;}
#outer-section-10 {background-color: #E7594D;}
#outer-section-11 {height: 50px; background: url(../images/qd_s11.png) no-repeat scroll center bottom / cover #11B68C;}
#outer-section-12 {background-color: #11B68C;}
#outer-section-13 {background-color: #11B68C;}
#outer-section-14 {background-color: #11B68C;}
#outer-section-15 {background-color: #FF6877;}
#outer-section-16 {background-color: #FF6877;}
#outer-section-17 {background-color: #FF6877;}
#outer-section-18 {background-color: #9FD946;}
#outer-section-19 {background-color: #FFDB2B;}
#inner-columns-19 {height:100px;padding:10px 0px 20px 0px;}
#inner-columns-19 ul {width: 100%; float: left;}
#inner-columns-19 li {width: 491px; height: 100px; margin-left: 8px; float: left;}
#inner-columns-19 li:first-child {margin-left: 0;}
#outer-section-20 {background-color: #FFDB2B;}
#outer-section-21 {background-color: #FFDB2B;}
#inner-columns-21 {height:351px;padding:10px 5px 5px 5px;}
#inner-columns-21 ul {width: 100%; margin-top: 10px; float: left;}
#inner-columns-21 ul:first-child {margin-top: 0;}
#inner-columns-21 li {width: 237px; height: 170px; margin-left: 10px; float: left;}
#inner-columns-21 li:first-child {margin-left: 0;}
#outer-section-22 {background-color: #FFDB2B;}
#outer-section-23 {background-color: #FFDB2B;}
#inner-columns-23 {height:120px;padding:10px 0px;}
#inner-columns-23 ul {width: 100%; float: left;}
#inner-columns-23 li {width: 990px; height: 120px; float: left;}
#outer-section-24 {height: 119px; background: url(../images/qd_s24.png) no-repeat scroll center bottom / cover #474E5D;}
